.navbar
  #select.tool{data: {tool: 'select'}} select
  #direct.tool{data: {tool: 'direct'}} direct
  #pen.tool{data: {tool: 'pen'}} pen
  #convert.tool{data: {tool: 'convert'}} convert

.container
  %svg#editor