.tab-content{"ng-controller" => "appCtrl"}
  #settings.tab-pane
    .form-group
      %label Name
      %input#name.form-control{type: 'text'}
    .form-group
      %label Grid
      %input#grid.form-control{type: 'text', value: 100}
    .form-group
      %label X-Height
      %input#x-height.form-control{type: 'text', value: 400}
    .form-group
      %label Overshoot
      %input#overshoot.form-control{type: 'text', value: 10}
    .form-group
      %label Ascent Height
      %input#ascent-height.form-control{type: 'number', value: 700, min: 0, max: 1000}
    .form-group
      %label Descent Height
      %input#descent-height.form-control{type: 'text', value: 300, disabled: true}
    .form-group
      %label Total Height
      %input#total-height.form-control{type: 'text', value: 1000, disabled: true}
    .form-group
      %label Line Gap
      %input#line-gap.form-control{type: 'text', value: 250}
  
  #editor-wrapper.tab-pane.active.pen
    %svg#editor
    
    #header
      #tools.navbar
        #select.tool{"ng-click" => "setTool('select')"} select
        #direct.tool{"ng-click" => "setTool('direct')"} direct
        #pen.tool.current{"ng-class" => "{active: settings.tool == 'pen'}"} pen
        #convert.tool{"ng-click" => "setTool('convert')"} convert
        #pan.tool{"ng-click" => "setTool('pan')"} pan
        #zoom-in.zoom zoom in
        #zoom-out.zoom zoom out
        #zoom.zoom 50%
    
    #characters
      %div{"ng-repeat" => "c in characters"}
        .character{"ng-if" => "c.path"}
          %svg{width: '40px', height: '40px', "viewBox" => '0 0 1000 1000'}
            {{c.path}}
        .character{"ng-if" => "!c.path"}
          {{c.character}}
        