@import "bootstrap";
@import "font-awesome";

path{
  fill: black;
}

svg{
  background:white;
}

rect{
  stroke-width:1px;
  stroke:#00A0FF;
  fill:white;
}

.bb{
  fill:rgba(1,1,1,0);
}

circle{
  fill:#00A0FF;
}

line, .grid{
  stroke-width:1px;
  stroke:#00A0FF;
  &.light{
    stroke:#FAFAFA;
  }
}

.el-path{
  fill:none;
  stroke-width:1px;
  stroke:#00A0FF;
}

#header{
  .navbar{
    .tool, .zoom{
      background:gray;
      padding:5px;
      margin-left:5px;
      float:left;
      &.current{
        background:black;
        color:white;
      }
    }
  }
}

#sidebar{
  width:200px;
  float:left;
}

.tab-content{
  margin-left:200px;
}