@import "bootstrap";
@import "font-awesome";

path{
  fill: black;
}

svg{
  background:#FAFAFA;
  width:1000px;
  height:500px;
}

rect{
  stroke-width:1px;
  stroke:#00A0FF;
  fill:white;
}

.bb{
  fill:rgba(1,1,1,0);
}

circle{
  fill:#00A0FF;
}