= render 'layouts/sidebar'

.tab-content{"ng-controller" => "appCtrl", "ng-init" => "fontId=#{@font.id}"}
  %hotkey{bind: "q", invoke: "setTool('select')"}
  %hotkey{bind: "w", invoke: "setTool('direct')"}
  %hotkey{bind: "e", invoke: "setTool('pen')"}
  %hotkey{bind: "r", invoke: "setTool('convert')"}
  %hotkey{bind: "t", invoke: "setTool('pan')"}
  %hotkey{bind: "ctrl + z", invoke: "undo()"}
  %hotkey{bind: "ctrl + shift + z", invoke: "redo()"}
  #font.tab-pane{"ng-class" => "{active: tab == 'settings'}"}
    .form-group
      %label Name
      %input#name.form-control{type: 'text', "ng-model" => "font.name", "ng-change" => "update()"}
    .form-group
      %label Grid
      %input#grid.form-control{type: 'number', "ng-model" => "font.grid", "ng-change" => "update(); createGrid()"}
    .form-group
      %label X-Height
      %input#x-height.form-control{type: 'number', "ng-model" => "font.x_height", "ng-change" => "update(); createGrid()"}
    .form-group
      %label Overshoot
      %input#overshoot.form-control{type: 'number', "ng-model" => "font.overshoot", "ng-change" => "update(); createGrid()"}
    .form-group
      %label Ascent Height
      %input#ascent-height.form-control{type: 'number', "ng-model" => "font.ascent_height", "ng-change" => "update(); createGrid()", min: 0, max: 1000}
    .form-group
      %label Descent Height
      %input#descent-height.form-control{type: 'number', "value" => "{{1000 - font.ascent_height}}", disabled: true}
    .form-group
      %label Total Height
      %input#total-height.form-control{type: 'number', value: 1000, disabled: true}
    .form-group
      %label Line Gap
      %input#line-gap.form-control{type: 'number', "ng-model" => "font.line_gap", "ng-change" => "update(); createGrid()"}
  
  #editor-wrapper.tab-pane{class: "{{tool}}", "ng-class" => "{active: tab == 'editor', 'pen-add': penClass == 'pen-add', 'pen-remove': penClass == 'pen-remove'}"}
    #click-box{"ng-mousedown" => "mousedown($event)", "ng-mousemove" => "mousemove($event)", "ng-mouseup" => "mouseup($event)"}
      %svg#editor{"vbox" => "{{viewbox.x}} {{viewbox.y}} {{viewbox.w}} {{viewbox.h}}"}
    
    #header
      #tools.navbar
        #select.tool{"ng-click" => "setTool('select')", "ng-class" => "{current: tool == 'select'}"} select
        #direct.tool{"ng-click" => "setTool('direct')", "ng-class" => "{current: tool == 'direct'}"} direct
        #pen.tool{"ng-click" => "setTool('pen')", "ng-class" => "{current: tool == 'pen'}"} pen
        #convert.tool{"ng-click" => "setTool('convert')", "ng-class" => "{current: tool == 'convert'}"} convert
        #pan.tool{"ng-click" => "setTool('pan')", "ng-class" => "{current: tool == 'pan'}"} pan
        #zoom-in.zoom{"ng-click" => "setZoom(2)"} zoom in
        #zoom-out.zoom{"ng-click" => "setZoom(.5)"} zoom out
        #zoom.zoom {{(zoom * 100) + '%'}}
    
    #characters
      %div{"ng-repeat" => "c in font.characters"}
        .character{"ng-click" => "setChar($index)", "ng-class" => "{current: char == $index}"}
          %div{"ng-if" => "c.paths"}
            %svg{width: '40px', height: '40px', "viewBox" => '0 0 1000 1000'}
              %g{"ng-show" => "c.paths", "ng-repeat" => "path in c.absolutePaths track by $index"}
                %path{"ng-attr-d" => "{{path}}"}
          %div{"ng-if" => "!c.paths"}
            {{c.character}}
        
  #kerning.tab-pane{"ng-class" => "{active: tab == 'kerning'}"}
    #header
      %input{type: 'text', "ng-model" => "kern.characters", "ng-change" => "updateKern(kern.characters)"}
      %input{type: 'number', "ng-model" => "kernSize", "ng-change" => "updateSize(kernSize)"}
    %svg#kern
    / {"ng-attr-height" => "{{kernHeight || '40px'}}", "viewBox" => "0 0 1000 1000"}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    