#header
  .navbar
    #select.tool{data: {tool: 'select'}} select
    #direct.tool{data: {tool: 'direct'}} direct
    #pen.tool.current{data: {tool: 'pen'}} pen
    #convert.tool{data: {tool: 'convert'}} convert
    #pan.tool{data: {tool: 'pan'}} pan
    #zoom-in.zoom zoom in
    #zoom-out.zoom zoom out