#sidebar
  {{tab}}
  %ul.list-unstyled
    %li
      %a{href: '', "ng-click" => "setTab('settings')", "ng-class" => "{current: tab == 'settings'}"} Settings
    %li.active
      %a{href: '', "ng-click" => "setTab('editor')", "ng-class" => "{current: tab == 'editor'}"} Editor
    %li
      %a{href: '', "ng-click" => "setTab('kerning')", "ng-class" => "{current: tab == 'kerning'}"} Kerning
    %li
      = form_tag download_path do
        %input{type: 'hidden', name: "characters", "value" => "{{characters}}"}
        = submit_tag 'Download'