#sidebar
  #logo
    
  %ul.list-unstyled
    %li
      %a{href: '#settings', data: {toggle: 'tab'}} Settings
    %li.active
      %a{href: '#editor-wrapper', data: {toggle: 'tab'}} Editor
    %li
      Kerning
    %li
      Download