#sidebar
  #logo
    
  %ul.list-unstyled
    %li
      %a{href: '#settings', "ng-click" => "setTab('settings')", "ng-class" => "{current: tab == 'settings'}"} Settings
    %li.active
      %a{href: '#editor', "ng-click" => "setTab('editor')", "ng-class" => "{current: tab == 'editor'}"} Editor
    %li
      %a{href: '#kerning', "ng-click" => "setTab('kerning')", "ng-class" => "{current: tab == 'kerning'}"} Kerning
    %li
      Download